/* body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#redCircle {
    background-color: red;
}

#blueCircle {
    background-color: blue;
}

#yellowCircle {
    background-color: yellow;
} */


